<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="net.fizfaz.esblighting" versionCode="110" version="1.1.0">
  <name>ESB Lighting</name>
  <description>
        Provides a schedule of the upcoming (and past) Empire State Building lightings.
    </description>
  <author href="fizfaz.net" email="apps@fizfaz.net">
		Michael Niessl
	</author>
  <preference name="phonegap-version" value="3.7.0"/>
  <preference name="orientation" value="default"/>
  <preference name="fullscreen" value="false"/>
  <preference name="target-device" value="universal"/>
  <preference name="permissions" value="none"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="splash"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <gap:platform name="android"/>
  <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8"/>
  <content src="index.html"/>
  <access origin="*"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="resources\android\icon\drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources\android\icon\drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources\android\icon\drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources\android\icon\drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources\android\icon\drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources\android\icon\drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
  </platform>
  <icon src="resources\android\icon\drawable-xhdpi-icon.png"/>
  <splash src="splash.png"/>
  <gap:splash src="splash.png"/>
</widget>