<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "net.fizfaz.esblighting"
        version   = "0.9.0"
		versionCode = "10">

    <name>ESB Lighting</name>

    <description>
        Provides a schedule of the upcoming (and past) Empire State Building lightings.<br />
		The information is pulled from the official <a href="http://esbnyc.com/current_events_tower_lights.asp">ESB website</a> and provided as an extra service. This app consumes that service and displays the results.<br /><br />
		Per default all available future data plus available past data (up to the last month's first day) is shown. You can load all available data on request(ESB provides a one year's history).<br /><br />
		
		This is not an official ESB app!
    </description>

    <author email="apps@fizfaz.net">
        Michael Niessl
    </author>


    <preference name="permissions"                value="none"/>

    <preference name="phonegap-version"           value="3.1.0" />
    <preference name="orientation"                value="default" />
    <preference name="target-device"              value="universal" />
    <preference name="fullscreen"                 value="false" />
    


    
    <access origin="*"/> <!-- allow local pages -->
    
</widget>