<ion-popover-view>
    <ion-header-bar>
        <h1 class="title">About</h1>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p>ESB Lighting provides a schedule of the upcoming (and past) Empire State Building lightings.</p>
            <p><a href="http://esblighting.org">esblighting.org</a> pulls the schedule from the ESB's official website and provides a service consumed by this app.</p>
            <p>Install the <a href="https://play.google.com/store/apps/details?id=net.fizfaz.esblighting">app</a>.<br />For email alerts head over to <a href="https://ifttt.com/recipes/149276-if-the-empire-state-building-is-coming-up-with-an-interesting-color-combination-email-me">IFTTT</a>.</p>
            <p>Michael (<a href="https://twitter.com/antipodos">@antipodos</a>)<br />info@esblighting.org<br /><a href="http://esblighting.org">esblighting.org</a></p>
        </div>
    </ion-content>
</ion-popover-view>
