<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="TODAY" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/today">
    <ion-nav-view name="tab-today"></ion-nav-view>
  </ion-tab>

  <ion-tab title="UPCOMING" icon-off="ion-ios-time-outline" icon-on="ion-ios-time" href="#/tab/upcoming">
    <ion-nav-view name="tab-upcoming"></ion-nav-view>
  </ion-tab>

  <ion-tab title="ALL" icon-off="ion-ios-infinite-outline" icon-on="ion-ios-infinite" href="#/tab/all">
    <ion-nav-view name="tab-all"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
